# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.db
*.sqlite3

# Environment variables and secrets
.env

# Docker volumes
postgres_data/

# VS Code settings
.vscode/

# Node (if you add a frontend)
node_modules/

# Log files
*.log
